<div class="container">

    <div class="jumbotron">
        <h1>Mengis Burger!</h1>
        <p>Create Your Own Burger</p>
        <br>
        <h2>Create a Burger or Sandwich</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Name Your Burger</label>
                    <input type="text" id="newburger" name="burger">
                    <button type="submit" class="btn btn-danger" id="addburger">
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>You're Burger is served!</strong>
                    <p>Have a seat, relax and click the button when you are ready to eat your burger</p>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-hand-lizard-o"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Looks like you are all done!</strong>
                    {{!-- <p>Please recycle your wrapper by hitting the recycle button</p> --}}
                </div>
                <div class="panel-body" id="devoured">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        {{!-- <button type="button" class="trashburger btn btn-success" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-recycle"></span></button> --}}
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>
    <!--endrow -->
</div>
<!--endcontainer -->